<div class="p-3">
  <div class="alert alert-success text-center" role="alert">
    <a href="/fotos" class="text-decoration-none text-muted">
      <strong>
        <i class="bi bi-card-image"></i>
        Posts com imagem aqui.
      </strong>
    </a>
  </div>
</div>
{{#each posts}}
  <div class="container mb-3">
    <div class="card">
      
      <div class="card-header d-flex justify-content-between">
        <small>
          <a href="/post/{{id}}">{{titulo}}</a>
        </small>
        <small class="text-muted">
          {{post_like}}
        </small>
      </div>
      <div class="card-body text-muted">
        <small class="card-text d-flex justify-content-between">
          {{!-- <a href="/post/{{id}}">Saiba mais.</a> --}}
          <a href="/{{nome}}">{{nome}}</a>
          <span>
            {{createdAt}}
          </span>
        </small>
      </div>
    </div>
  </div>
{{/each}}